apiVersion: integreatly.org/v1alpha1
kind: GrafanaDataSource
metadata:
  name: prometheus
spec:
  datasources:
    - access: proxy
      editable: false
      isDefault: true
      jsonData:
        timeInterval: 5s
      name: prometheus
      type: prometheus
      url: {{ GRAFANA_PROMETHEUS_DATASOURCE_URL }} #TODO change to aws atasource as soon as we have configured PvCs
      version: 1
      tlsSkipVerify: true
  name: grafana-datasources.yaml
