#Helm
OCP-Infrastructure/secrets/

# MacOS
.DS_Store

# Eclipse
.metadata/
.settings/
.classpath
.project

# Maven
target/

# Misc
.tern-project

#IDEA
.idea/
*.iml

# VS Code
.vscode

# Ansible
*.retry
