#Helm
OCP-Infrastructure/secrets/
requirements.lock
*.tgz

# MacOS
.DS_Store

# Eclipse
.metadata/
.settings/
.classpath
.project

# Maven
target/

# Misc
.tern-project

#IDEA
.idea/
*.iml

# VS Code
.vscode

# Ansible
*.retry

#jar/plugins
OCP-Infrastructure/docker/kafka-connector/my-plugins/*

# temporary files
tmp*

# Docker
Docker-Infrastructure/hogajama/bin/wildfly-23.0.1.Final.zip
