<source>
  @type  forward
  @id    input1
  @label @mainstream
  port  24224
</source>

<filter **>
  @type stdout
</filter>

<source>
  @type mqtt

  host amq
  port 1883-tcp

  <parse>
    @type json
  </parse>

  topic habarama

  <security>
    username {{ FLUENTD_USERNAME }}
    password {{ FLUENTD_PASSWORD }}
  </security>

  <monitor>
    recv_time true
    recv_time_key 'time'
  </monitor>

</source>

<label @mainstream>
  <match docker.**>
    @type file
    @id   output_docker1
    path         /fluentd/log/docker.*.log
    symlink_path /fluentd/log/docker.log
    append       true
    time_slice_format %Y%m%d
    time_slice_wait   1m
    time_format       %Y%m%dT%H%M%S%z
  </match>
  <match **>
    @type file
    @id   output1
    path         /fluentd/log/data.*.log
    symlink_path /fluentd/log/data.log
    append       true
    time_slice_format %Y%m%d
    time_slice_wait   10m
    time_format       %Y%m%dT%H%M%S%z
  </match>
</label>

<match fluent.**>
    @type file
    @id   fluentoutput
    path         /fluentd/log/fluent.*.log
    symlink_path /fluentd/log/fluent.log
    append       false
    time_slice_format %Y%m%d
    time_slice_wait   10m
    time_format       %Y%m%dT%H%M%S%z
</match>

<match **.habarama.**>
    @type copy
    <store>
        @type mongo

        database hogajamadb
        host mongodb
        port 27017

        # collection name to insert
        collection habarama

        # Set 'capped' if you want to use capped collection
        #capped
        #capped_size 100m

        # Set 'user' and 'password' for authentication
        # These options are not used when use connection_string parameter.
        user {{ FLUENTD_MONGO_USERNAME }}
        password {{ FLUENTD_MONGO_PASSWORD }}

		<inject>
		    # key name of timestamp
			time_key time
		</inject>

        # Other buffer configurations here
        # flush
        # flush_interval 10s
       	<buffer>
        	flush_interval 3s
       	</buffer>
    </store>
    <store>
        @type file
        @id   mqttoutput
        path         /fluentd/log/mqtt.data.*.log
        symlink_path /fluentd/log/mqtt.data.log
        append       true
        time_slice_format %Y%m%d
        time_slice_wait   10m
        time_format       %Y%m%dT%H%M%S%z
    </store>
</match>
