{
  "brokerUrls": {{BROKER_URLS}},
  "sensors": [
  {% for sensor in sensors %}
    {
      "name": "{{sensor.name}}",
      "type": "{{sensor.type}}",
      "location": "{{SENSOR_LOCATION}}",
      "channel": {{sensor.channel}},
      "pin": {{sensor.pin}}
    }
  {% endfor %}
  ],
  "actors": [
  {% for actor in actors %}
    {
      "name": "{{actor.name}}",
      "type": "{{actor.type}}",
      "location": "{{SENSOR_LOCATION}}",
      "pin": {{actor.pin}}
    }
  {% endfor %}
  ]
}
