[Unit]
Description=Habarama
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python {{ansible_env.HOME}}/Hogarama/Habarama/PI/python-mqtt/plant.py
Restart=always
User=pi
 
[Install]
WantedBy=multi-user.target