---
  raspberries:
    hosts:
      X.X.X.X
    vars:
      sensors:
          - name: "Pflanze"
            type: "sparkfun"
            channel: 0
            pin: 21
      actors:
          - name: "Pumpe"
            type: "gpio"
            pin: 4
      ID_STR: "raspi-ID"
      ip_address: X.X.X.X
      SENSOR_LOCATION: "LOCATION"

  all:
    vars:
      BROKER_URLS: "[\"broker-amq-mqtt-ssl-57-hogarama.cloud.itandtel.at\"]"
      client_python_dir: "{{ansible_env.HOME}}/client_python/"

    # Global vars:
      ansible_ssh_user: pi
      ansible_ssh_pass: raspberry

    # Network vars:
      SSID: "SSID"
      PSK: "Wifi-Password"
      ip_router: Y.Y.Y.Y

    # SETUP FLAGS
      update_raspberry: false
      setup_ssh: false
      setup_network: false

    # SSH Vars:
      ssh_keys:
        - https://github.com/DUMMY.keys
        - https://github.com/DUMMY_2.keys
...