apiVersion: v1
data:
  MONGODB_ADMIN_PASSWORD: {{ MONGODB_ADMIN_PASSWORD | b64encode }}
  MONGODB_DATABASE: {{ MONGODB_DATABASE | b64encode }}
  MONGODB_PASSWORD: {{ MONGODB_PASSWORD | b64encode }}
  MONGODB_USER: {{ MONGODB_USER | b64encode }}
  HOGAJAMA_DB: {{ HOGAJAMA_DB | b64encode }}
  MONGODB_PW: {{ MONGODB_PW | b64encode }}
kind: Secret
metadata:
  name: mongodb-credentials
type: Opaque
