---

global:
  timezone: "Europe/Vienna"

amq:
  credentials:
    amq_password: "{{ AMQ_PASSWORD | b64encode }}"
    amq_user: "{{ AMQ_USER | b64encode }}"
  deploymentconfig:
    amq_truststore_password: "{{ AMQ_TRUSTSTORE_PASSWORD }}"
    amq_keystore_password: "{{ AMQ_KEYSTORE_PASSWORD }}"
    timezone: "Europe/Vienna"
    imageStream:
      name: "amq-broker-72-openshift"

fluentd:
  credentials:
    mq:
      username: "{{ FLUENTD_USERNAME }}"
      password: "{{ FLUENTD_PASSWORD }}"
    db:
      username: "{{ FLUENTD_MONGO_USERNAME }}"
      password: "{{ FLUENTD_MONGO_PASSWORD }}"
  imageStream:
    name: "fluentd-hogarama"
    base:
      name: fluentd-elasticsearch
      tag: "v2.4.0"
      kind: "DockerImage"
      from: "gcr.io/google-containers/fluentd-elasticsearch:v2.4.0"

grafana:
  DataSource:
    url: {{ GRAFANA_PROMETHEUS_DATASOURCE_URL }}
  crd:
    initial:
      admin:
        password: {{ GRAFANA_OPERATOR_ADMIN_PASSWORD }}
        user: {{ GRAFANA_INITIAL_ADMIN_USER}}

mongodb:
  credentials:
    admin:
      password: {{ MONGODB_ADMIN_PASSWORD | b64encode }}
    database:
      db: {{ MONGODB_DATABASE | b64encode }}
      user: {{ MONGODB_USER | b64encode }}
      password: {{ MONGODB_PASSWORD | b64encode }}
      hogajama_db: {{ HOGAJAMA_DB | b64encode }}
      mongodb_pw: {{ MONGODB_PW | b64encode }}

...