<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Hogarama Mock</title>
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"
	integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/app.css">
<script src="js/bootstrap/bootstrap.min.js"
	integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	crossorigin="anonymous"></script>
<script src="js/angular.min.js"></script>
<script src="js/controller.js"></script>
</head>
<body>
	<div ng-app="MockApp">
		<div ng-controller="MockController">
			<div class="container-fluid">

				<img src="img/logo-hogarama-gepardec.png" class="gepardec-logo" alt="gepardec logo"/>
				<h2 align="center">Raspberry PI Mock Console</h2>
				<div class="card">
					<div class="card-body">
									<img src="img/ajax-loader.gif" class="spinner" ng-hide="!running" alt="application loading icon"/>
				<h3 align="center">Sent <span class="badge badge-secondary">{{nrOfSentMessages}}</span> messages</h3>
				<div class="row">
					<div class="col-md-12 text-center">
						<form role="form">
							<table>
							<div class="form-group">
								<label for="brokerUrl">Current value</label><br/>
								<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
									<button type="button" class="btn btn-secondary" ng-click="changeCurrentValue(-10)">-</button>
									<input id="currentValue" type="text" ng-model="currentValue" />
									<button type="button" class="btn btn-secondary" ng-click="changeCurrentValue(10)">+</button>
								</div>
							</div>
							<div class="form-group">
								<label for="brokerUrl">Sensor type</label><br/>
								<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
									<input id="sensorType" type="text" ng-model="sensorType" />
								</div>
							</div>
							<div class="form-group">
								<label for="brokerUrl">Sensor name</label><br/>
								<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
									<input id="sensorName" type="text" ng-model="sensorName" />
								</div>
							</div>
							<button class="btn btn-success" ng-hide="running" ng-click="start()">Run</button>
							<button class="btn btn-danger" ng-hide="!running" ng-click="stop()">Stop</button>
						</form>
					</div>
				</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>