/HogaramaInfrastructure/secrets/secrets.yml
/OCP-Infrastructure/secrets/amq/amq-credentials.yml
/OCP-Infrastructure/resources/amq/amq-deploymentconfig.yml
/DEPRECATED/AMQ/configuration/broker.xml~HEAD
/OCP-Infrastructure/resources/keycloak/client-hogarama-crd.yml
/OCP-Infrastructure/secrets/fluentd/fluent.conf
/OCP-Infrastructure/resources/fluentd/fluentd-buildconfig.yml
/OCP-Infrastructure/resources/grafana/grafana-configmap.yml
/OCP-Infrastructure/resources/grafana/grafana-crd.yml
/OCP-Infrastructure/resources/grafana/grafana-datasource.yml
/OCP-Infrastructure/resources/hogajama/hogajama-binary-bc.yml
/OCP-Infrastructure/resources/hogajama/hogajama-run-bc.yml
/OCP-Infrastructure/secrets/mongodb/mongodb-credentials.yml
/OCP-Infrastructure/resources/keycloak/operator-group.yml
/OCP-Infrastructure/resources/keycloak/realm-gepardec-crd.yml
/OCP-Infrastructure/resources/hogajama/s2i-builder-maven-bc.yml
/OCP-Infrastructure/secrets/secrets.yml
/OCP-Infrastructure/helm/hogarama/charts/hogajama/values.yaml
/helm/hogarama/values.yaml
/resources/hogarama_commons/operator-group.yml
