[Unit]
Description=Habarama
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python {{client_python_dir}}/plant.py
Restart=always
User=pi
WorkingDirectory={{client_python_dir}}
 
[Install]
WantedBy=multi-user.target
