<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L usedLayout: %X PatternLayout - %m%n"/>
        </Console>
        <Console name="JsonObjectMessage" target="SYSTEM_ERR">
            <JsonLayout complete="false" compact="true" eventEol="true"
                        objectMessageAsJsonObject="true">
                <KeyValuePair key="usedLayout"
                              value="JsonLayout_withObject"/>
            </JsonLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.gepardec.hogarama" additivity="false" level="trace">
            <AppenderRef ref="JsonObjectMessage"/>
        </Logger>
        <Root level="trace" additivity="false">
            <appender-ref ref="console"/>
        </Root>
    </Loggers>
</Configuration>
